/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url('https://fonts.googleapis.com/css?family=Nunito');
/* Core Styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  margin: 0;
}
img.alignright {
  float: right;
}
img.alignleft {
  float: left;
}
img.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
body {
  background-color: #FFFFFF;
  border-style: none;
}
body,
p,
a,
a:hover {
  color: #000000;
}
a,
a:hover {
  text-decoration: none;
  border: none;
  border-style: none;
  box-shadow: none;
}
html {
  background-color: #061C30;
}
/* Body */
body.full-page {
  background-color: #061C30;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 33px;
  letter-spacing: -0.2px;
  color: #848d96;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}
body.full-page p {
  color: #848d96;
}
/* Split */
.split {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.split .image {
  width: 50%;
  height: 100vh;
  background-image: url("../images/side.jpeg");
  background-position: center center;
  background-size: cover;
}
.split .content {
  width: 50%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: auto;
}
.split .content .split-content {
  padding: 80px;
  max-width: 640px;
  margin-top: auto;
  margin-bottom: auto;
}
/* Intro */
.intro {
  font-weight: 600;
  font-size: 64px;
  line-height: 60px;
  letter-spacing: -2px;
}
.intro h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 40px;
  letter-spacing: 0.4px;
  color: #CA486d;
}
.intro .tagline {
  font-size: 48px;
  color: #CCCCCC;
}
.intro .tagline a {
  font-size: 48px;
  color: #CCCCCC;
}
.intro .tagline a:hover {
  color: #CA486d;
}
/* Bio */
.bio {
  padding: 40px 0 40px 0;
  font-family: 'Nunito', serif;
}
.bio p {
  color: #848d96;
}
.bio a {
  color: #848d96;
  transition-duration: 0.5s;
  border-bottom: 1px dotted #848d96;
}
.bio a:hover {
  color: #CA486d;
  transition-duration: 0.1s;
  border-bottom: 1px dotted #CA486d;
}
/* Social */
.social .social-list {
  display: inline-block;
  margin-bottom: 40px;
}
.social .social-list h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 11px;
  margin-bottom: 31px;
  color: #848d96;
  letter-spacing: 2px;
  opacity: 0.5;
}
.social .social-list ul li {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 12px;
}
.social .social-list ul li a {
  color: #848d96;
  transition-duration: 0.5s;
}
.social .social-list ul li a:hover {
  color: #CA486d;
  transition-duration: 0.1s;
}
/* Icons */
.fa {
  font-size: 25px !important;
  padding-right: 10px !important;
}
/* Project Page */
.proj {
  background-color: #fff;
}
.proj .tagline {
  color: #50504f;
}
.proj .bio p {
  color: #50504f;
}
.projects img {
  width: 200px;
  height: 140px;
}
.projects img:hover {
  transform: scale(1.1);
}
.projects .speakability {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
/* About Page */
/* Put code here */
/* Media Queries */
@media (max-width: 400px) {
  .intro {
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: -2px;
  }
  .intro .tagline {
    font-size: 38px;
  }
}
@media (max-width: 500px) {
  .social .social-list {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .split {
    height: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .split .image {
    height: 80vh;
    width: 100%;
  }
  .split .content {
    width: 100%;
    height: auto;
    display: block;
  }
  .split .content .split-content {
    padding: 40px;
  }
  .bio {
    padding: 20px 0;
  }
}
@media (max-width: 1200px) {
  .bio {
    padding: 30px 0;
  }
  .split .content .split-content {
    padding: 60px;
  }
}
