/* Body */
* {
  margin: auto 0;
}

/* Fonts */
@font-face {
  font-family: "WhitneyBook";
  src: url("/fonts/WhitneyHTF-Book.otf");
  font-weight: normal;
}
@font-face {
  font-family: "WhitneySemiBold";
  src: url("/fonts/WhitneyHTF-SemiBold.otf");
  font-weight: normal;
}
$whitneyBook: 'WhitneyBook';
$whitneySemiBold: 'WhitneySemiBold';

/* Colors */
$text: #363636;
$white: #fff;
$link-blue: #5782C6;
$tag-green: #7EC967;
$tag-red: #C7014C;
$profile-yellow: #eeda93;
$top-brown: #F7F5F6;
$instagram-blue: #5782C6;
$holder-line: #BDBDBD;

/* Nav Bar */
.top {
  height: 100vh;
.nav-bar {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0 80px;
  padding-bottom: 150px;
  text-align: center;

  .name {
    text-align: left;
    font-family: $whitneyBook;
    color: $text;

    a {
      text-decoration: none;
    }
  }

  .links {
    text-align: right;

    a {
      font-family: $whitneyBook;
      color: $text;
      text-decoration: none;
      padding: 5px;
    }
  }
}

/* Intro */
.intro {
  grid-template-columns: 1fr;
  display: grid;
  h1 {
    font-family: $whitneySemiBold;
    font-size: 40px;
    color: $text;
  }
  h2 {
    font-family: $whitneySemiBold;
    font-size: 30px;
    color: $link-blue;
  }
  h3 {
    font-family: $whitneyBook;
    font-size: 25px;
    color: $text;
  }
  p {
    font-family: $whitneyBook;
    font-size: 16px;
    color: $text;
  }
  h1,
  h2,
  h3,
  p {
    margin: auto;
    text-align: center;
  }
  hr {
    color: $text;
    width: 30%;
    margin: auto;
  }
  img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
  }
}
}

/* About Me */
.about-me {
  background-color: $profile-yellow;
  height: 600px;
  width: 100%;
}

/* Projects */
.projects {
  background-color: $white;
  height: 400px;
  width: 100%;
}

/* Instagram */
.instagram {
  background-image: url("../img/insta-background.jpg");
  height: 300px;
  width: 100%;
  .layer {
    background-color: $instagram-blue;
    opacity: 0.8;
    width: 100%;
    height: 100%;
  }
}

/* Footer */
.footer {
  color: $white;
  font-family: $whitneyBook;
  font-size: 14px;
  text-align: center;
  line-height: 60px;

  a {
    color: $white;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
  background-color: $text;
  height: 60px;
  width: 100%;
}

/* Media Queries */
@media (max-width: 800px) {
  .links {
    display: none;
  }
}
