* {
  margin: auto 0;
}

/* Colors */
$text: #363636;
$white: #fff;
$link-blue: #5782C6;
$profile-yellow: #eeda93;
$tag-green: #7EC967;
$tag-red: #C7014C;
$holder-line: #BDBDBD;
$instagram-blue: #5782C6;

/* Header */
.header {
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: center;
  margin: 0 80px;
  padding-bottom: 200px;
  .name {
    text-align: left;
  }
  .links {
    text-align: right;

    a {
      padding: 5px;
    }
  }
}

/* Intro */
.intro {
  grid-template-columns: 1fr;
  display: grid;
  padding-bottom: 200px;
  img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
  }

  h1,
  h2,
  p {
    margin: auto;
    text-align: center;
    color: $text;
  }
}

/* About Me */
.about-me {
  background-color: $profile-yellow;
  height: 600px;
  width: 100%;
}

/* Projects */
.projects {
  background-color: $white;
  height: 400px;
  width: 100%;
}

/* Instagram */
.instagram {
  background-color: $instagram-blue;
  height: 300px;
  width: 100%;
}

/* Footer */
.footer {
  background-color: $text;
  height: 60px;
  width: 100%;
}

/* Media Queries */
@media (max-width: 800px) {
  .links {
    display: none;
  }
}
